absl-py==2.4.0
agent-client-protocol==0.9.0
aiobotocore
aiodns
aiofile==3.9.0
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-doc==0.0.5
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid
astropy
astropy-iers-data
asttokens==3.0.2
astunparse==1.6.3
async-lru
asyncssh
atomicwrites==1.4.0
attrs==25.3.0
Authlib==1.6.9
Automat
autopep8
babel
bcrypt
beartype==0.22.9
beautifulsoup4==4.13.4
binaryornot
black
bleach==6.2.0
blinker
bokeh
boltons
botocore
Bottleneck
brotlicffi
cachetools
caio==0.9.25
category_encoders==2.9.0
cattrs
certifi==2025.7.14
cffi==2.0.0
chardet
charset-normalizer==3.4.2
click
cloudpickle
collection==0.1.6
colorama==0.4.6
colorcet
comm==0.2.3
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler==0.12.1
cyclopts==4.10.1
dask
datashader
debugpy==1.8.21
decorator
defusedxml
diff-match-patch
dill
distributed
distro
dm-tree==0.1.10
dnspython==2.8.0
docstring-to-markdown
docstring_parser==0.17.0
docutils
einops==0.8.2
email-validator==2.3.0
et_xmlfile
etils==1.14.0
evalidate
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.141.1
fastjsonschema==2.21.1
fastmcp==3.2.0
filelock
flake8
Flask
flatbuffers==25.12.19
fonttools==4.61.1
fqdn==1.5.1
frozendict
frozenlist
fsspec
gast==0.7.0
gitdb
GitPython
gmpy2
google-pasta==0.2.0
googleapis-common-protos==1.75.2
graphviz==0.21
greenlet
grpcio==1.81.1
h11
h5py==3.14.0
HeapDict
holoviews
html5lib
httpcore
httptools
httpx
httpx-sse==0.4.3
hvplot
hyperlink
id==1.5.0
idna==3.10
ImageIO
imagesize
imbalanced-learn==0.14.2
imblearn==0.0
immutabledict==4.3.1
importlib_metadata
importlib_resources==7.1.0
incremental
inflection
iniconfig
intake
intervaltree
ipykernel==7.3.0
ipympl
ipython==9.16.1
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipywidgets
isoduration==20.11.0
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context==6.0.1
jaraco.functools==4.2.1
jedi==0.20.0
jellyfish
Jinja2
jiter==0.13.0
jmespath
joblib==1.5.3
json5==0.12.0
jsonpatch
jsonpointer
jsonref==1.1.0
jsonschema==4.24.0
jsonschema-path==0.4.5
jsonschema-specifications==2025.4.1
jupyter
jupyter-collaboration==4.3.0
jupyter-collaboration-ui==2.3.0
jupyter-console
jupyter-docprovider==2.3.0
jupyter-events
jupyter-lsp
jupyter-server-ydoc==2.3.0
jupyter-ydoc==3.4.0
jupyter_ai_acp_client==0.1.1
jupyter_ai_chat_commands==0.0.4
jupyter_ai_persona_manager==0.0.9
jupyter_ai_router==0.0.3
jupyter_ai_tools==0.4.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server
jupyter_server_documents==0.1.2
jupyter_server_fileid==0.9.3
jupyter_server_mcp==0.1.2
jupyter_server_terminals
jupyterlab==4.4.4
jupyterlab_chat==0.21.1
jupyterlab_commands_toolkit==0.1.5
jupyterlab_eventlistener==0.4.0
jupyterlab_git==0.52.0
jupyterlab_notebook_awareness==0.2.0
jupyterlab_pygments
jupyterlab_server==2.27.3
jupyterlab_widgets
kagglehub==1.0.2
kagglesdk==0.1.37
keras==3.14.1
keyring==25.6.0
kiwisolver
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
lief
linkify-it-py
llvmlite
lmdb
locket
lsprotocol
lxml
lz4
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplot==0.1.9
matplotlib==3.10.8
matplotlib-inline==0.2.2
mccabe
mcp==1.27.0
mdit-py-plugins
mdurl
menuinst
mistune==3.1.3
mkl-service==2.5.2
mkl_fft
mkl_random
ml_dtypes==0.5.4
mlxtend==0.24.0
more-itertools==10.7.0
motor==3.7.1
mpi4py
mpmath
msgpack
multidict
multipledispatch
mypy
mypy_extensions
namex==0.1.0
narwhals
nbclient
nbconvert
nbdime==4.0.4
nbformat
nest-asyncio2==1.7.2
nest_asyncio
networkx
nh3==0.2.22
nltk
notebook==7.4.4
notebook_shim
numba
numexpr
numpy==2.5.2
numpydoc
openai==2.30.0
openapi-pydantic==0.5.1
openpyxl
opentelemetry-api==1.40.0
opt_einsum==3.4.0
optree
overrides
packaging==26.3
pandas==3.0.0
pandocfilters
panel
param
parsel
parso==0.8.7
partd
pathable==0.5.0
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs==4.11.3
plotly
pluggy
prometheus_client==0.22.1
promise==2.3
prompt_toolkit==3.0.53
propcache
Protego
protobuf
psutil==7.2.2
ptyprocess
pure_eval==0.2.3
py-cpuinfo
py-key-value-aio==0.4.4
pyarrow
pyasn1
pyasn1_modules
pycares
pycodestyle
pycosat
pycparser==2.22
pycrdt==0.12.50
pycrdt-store==0.1.3
pycrdt-websocket==0.16.0
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pydocstyle
pyerfa
pyflakes
PyGithub
Pygments==2.21.0
PyJWT
pylint
pylint-venv
pyloco==0.0.139
pyls-spyder==0.4.0
pymongo==4.17.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing==3.3.2
pyperclip==1.11.0
PyQt5==5.15.11
PyQt5_sip
PyQtWebEngine==5.15.7
PySide6==6.11.0
PySocks
pytest
python-dateutil==2.9.0.post0
python-dotenv
python-json-logger==3.3.0
python-lsp-black
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
python-multipart==0.0.24
python-slugify
pytokens
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
pywin32
pywin32-ctypes==0.2.3
pywinpty
PyYAML==6.0.2
pyzmq==27.2.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
readchar
readme_renderer==44.0
referencing==0.36.2
regex
requests==2.32.4
requests-file
requests-toolbelt
rfc3339_validator
rfc3986==2.0.0
rfc3986_validator
rich==14.0.0
rich-rst==1.3.2
roman-numerals-py
rope
rpds-py==0.26.0
rtree
ruamel.yaml
ruamel.yaml.clib
ruamel_yaml_conda
ruff
s3fs
schedule==1.2.2
scikit-image
scikit-learn==1.8.0
scipy==1.18.0
Scrapy
seaborn
semver
Send2Trash==1.8.3
service-identity
setuptools==80.9.0
shellingham
shiboken6==6.11.0
simple-parsing==0.1.9
SimpleWebSocketServer==0.1.2
sip
six==1.17.0
sklearn-compat==0.1.6
smmap
sniffio==1.3.1
snowballstemmer
sortedcontainers
soupsieve==2.7
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlite-anyio==0.2.8
sse-starlette==3.3.4
stack-data==0.6.3
starlette==1.0.0
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tensorflow==2.21.0
tensorflow-datasets==4.9.10
tensorflow-metadata==1.21.0
termcolor==3.3.0
terminado
text-unidecode
textdistance
threadpoolctl==3.6.0
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
torch
torchvision
tornado==6.5.8
tqdm
traitlets==5.16.1
truststore
twine==6.1.0
Twisted
twisted-iocpsupport
typer
types-python-dateutil==2.9.0.20250708
typing==3.7.4.3
typing-inspection
typing_extensions==4.16.0
tzdata
uc-micro-py
ujson
uncalled-for==0.2.0
uri-template==1.3.0
urllib3
ushlex==0.99.1
uvicorn==0.44.0
w3lib
watchdog
watchfiles==1.1.1
wcwidth==0.8.2
webcolors==24.11.1
webencodings
websocket-client
websockets
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
win_inet_pton
winloop
wrapt
xarray
xgboost==3.3.0
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
aiobotocore